:root {
	--dark-Gray: hsl(0, 0%, 63%);
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);
	--very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
body {
	font-family: 'Spartan', sans-serif;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 167px) repeat(2, 83.5px) repeat(5, 167px) 1fr;
	grid-template-rows: 52rem 27rem;
	overflow: hidden;
}

@media (max-width: 500px) {
	.container {
		display: flex;
		flex-direction: column;
	}
}

.box {
	background-image: url(./images/desktop-image-hero-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	grid-column: 1 / 7;
	grid-row: 1 / 2;
}

/* * NAV-BAR */
.header {
	margin-top: 6rem;
	margin-left: 6rem;
}
.box__nav-bar {
	display: flex;
	height: 1.5rem;
}

.box__list {
	display: flex;
	margin-left: 4rem;
}

.box__item {
	list-style: none;
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.box__item:hover {
	border-bottom: 1px solid var(--white);
}

.box__item:not(:last-child) {
	margin-right: 3rem;
}

/* * CAJA-2 */
.cajas {
	grid-column: 7 / -1;
	grid-row: 1 / 2;
	position: relative;
}
.caja {
	margin: 12rem 10rem 0rem 10rem;
	width: 48rem;
}

.box__heading {
	font-size: 3.6rem;
	padding-right: 9rem;
}

.box__text {
	font-size: 1.2rem;
	line-height: 2.3rem;
	margin: 3rem 0;
	padding-right: 3rem;
	margin-right: 3rem;
	color: var(--dark-Gray);
}

.box__btn {
	display: inline-block;
	letter-spacing: 1rem;
	text-decoration: none;
	color: var(--black);
	text-transform: uppercase;
	font-size: 1.4rem;
}

.box__btn:hover {
	color: var(--dark-Gray);
}

.box__arrow {
	margin-left: 2rem;
}

.arrows {
	background-color: black;
	width: 16.7rem;
	height: 8rem;
	margin-top: 4.4rem;
	display: flex;
	position: absolute;
}

.flex {
	background-image: url(./images/image-about-dark.jpg);
	grid-column: 1 / 4;
	grid-row: 2 / -1;
	background-repeat: no-repeat;
	background-size: cover;
}

.flex-2 {
	background-image: url(./images/image-about-light.jpg);
	grid-column: 8 / -1;
	grid-row: 2 / -1;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	grid-column: 4 / 8;
	grid-row: 2 / -1;
	padding: 7rem 4rem;
}

.about__heading {
	text-transform: uppercase;
	letter-spacing: 0.6rem;
	margin-bottom: 1.5rem;
	font-size: 1.1rem;
	font-weight: bold;
}

.about__text {
	color: var(--dark-Gray);
	font-size: 1.2rem;
	line-height: 2.3rem;
}

.arrow__left,
.arrow__right {
	flex: 0 0 50%;
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.arrow__left:hover,
.arrow__right:hover {
	background-color: var(--very-dark-gray);
}

/* .hidden-3 {
	display: none;
} */

.hidden-3,
.hidden-2 {
	display: none;
}
.hidden {
	display: none;
}
